html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
    color: #003;
    overflow-x: hidden;
    overflow-y: scroll;
}

.hidden {
    display: none;
}

.error {
    background: #a00;
}

.navbar-fixed {
    user-select: none;
    cursor: default;
}

#userInfo li {
    margin-right: 10px;
    font-size: 2em;
}

#userInfo img {
    border-radius: 5px;
    margin-top: 5%;
}

.fb-buttons {
    margin: 10px 10px 20px 10px;
    text-align: right;
}

.fa {
    vertical-align: bottom;
}

.btn {
    background: #01579b;
}

#logoutBtn {
    position: fixed;
    right: 0;
    margin-top: -5px;
    padding: 0 15px;
    text-transform: capitalize;
}

#logoutBtn:hover {
    background: #3ff;
}

.input-field input[type=text]:focus+label {
    color: #004;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #004;
    box-shadow: 0 1px 0 0 #004;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid #01579b;
    box-shadow: 0 1px 0 0 #01579b;
}

.input-field .prefix.active {
    color: #0277bd;
}

.input-field label {
    font-size: 1em !important;
}

#bookInput {
    font-size: 1.9em;
}

#searchBtn {
    padding: 0 3vw;
}

#searchBtn:hover {
    background: #0277bd;
}

#searchBtn.waves-ripple {
    background: #00b0ff;
}

#welcome {
    font-size: 1.2em;
}

.card-title {
    font-size: 1.3em !important;
    line-height: 95% !important;
}

.pageCount {
    position: fixed;
    bottom: 0;
    font-size: 1.2em;
}

/* Animation */

.animated {
    animation-duration: .5s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    animation-name: fadeOut;
    animation-duration: .5s;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

.shake {
    animation-name: shake;
}

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }
    30%,
    60%,
    90% {
        transform: translate3d(8px, 0, 0);
    }
    45%,
    75% {
        transform: translate3d(-8px, 0, 0);
    }
}
